/* 
    ImgBB All Images Link

https://i.ibb.co/SnbV497/about-img.webp
https://i.ibb.co/W2NBXJq/face1.jpg
https://i.ibb.co/y0dqCRd/hero-img.webp
https://i.ibb.co/0nDVVNv/logo.jpg


*/

/* All Common CSS Start */
.main-sec-bg{
    background-color: #f9f9ff;
}

.cmn-btn:hover{
    background-color: #000!important;
}
